/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

header {
    background: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: #f4f4f4;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.projects, .about {
    padding: 20px;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    background: #ddd;
    padding: 20px;
    width: 300px;
    font-size: 1.0rem;
    font-weight: bold;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.social-links a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

/* Experience Section */
#experience {
    background-color: #f4f4f4;
    padding: 50px 0;
  }
  
  #experience .container {
    width: 80%;
    margin: 0 auto;
  }
  
  #experience h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .experience-item {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .experience-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .company-name {
    font-style: italic;
    color: #555;
  }
  
  .duration {
    color: #888;
  }
  
  .description {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.6;
  }
  
  .dots {
    display: inline;
  }
  
  .more {
    display: none;
  }
  
  .read-more-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .read-more-btn:hover {
    background-color: #0056b3;
  }
  
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .project-list {
        flex-direction: column;
    }
}
